{% extends 'main/index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Dialog
{% endblock %}

{% block link %}
<!-- Additional files css -->
<link rel="stylesheet" href="{% static 'france/css/words.css' %}">
<link rel="stylesheet" href="{% static 'france/css/cloud.css' %}">

{% endblock %}

{% block leftside %}
<div class="words">
    <table>
        <thead>
            <th>PL</th>
            <th>FR</th>
        </thead>
        <tbody>
            {% for word in words %}
            <tr>
                <td>{{ word.word_pl }}</td>
                <td>{{ word.word_fr }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block main %}
<div>
    <h2>{{ situation.name }}
    <h3>{{ situation.description }}</h3>
    {% if user.is_staff or perms.france.change_scenes %} 
    <a class="btn btn-primary" href="{% url 'edit-dialog' situation.id %}">Edit</a></h2>
    {% endif %}
</div>

<br><hr><br>

<div class="dialog">
    {% for dialog in dialog_list %}

    {% if dialog.character_name == name %}
    <h2 class="bubble thought left"><b>{{dialog.character_name}}</b><br>{{dialog.sentence}}</h2>

    {% else %}
    <h2 class="bubble thought right"><b>{{dialog.character_name}}</b><br>{{dialog.sentence}}</h2>

    {% endif %}
    {% endfor %}

    
</div>

<br><hr><br>
<div>

</div>
<hr>

{% endblock %}

{% block scripts %}
<!-- Additional files js -->
{% endblock %}
