.cloud {
    background-image: url('https://static.showit.co/800/-FaKMOf1ShGVWDlPEOcw-w/92569/pngpix-com-speech-bubble-png-image-4-500x393_copy.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}